@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  background-color: #111827;
  color: white;
}

#root {
  width: 100%;
  height: 100vh;
}

/* Make elements with data-tauri-drag-region draggable */
[data-tauri-drag-region] {
  -webkit-app-region: drag;
}
